<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	
	
	<typeHandlers>
		<!-- 1.配置自定义的类型处理器 -->
		<typeHandler handler="com.cx.mybatis.typehandler.MyEnumEmpStatusTypeHandler" javaType="com.cx.mybatis.bean.EmpStatus"/>
		<!-- 2.也可以在处理某个字段的时候告诉MyBatis使用什么类型处理器 #{empStatus,typeHandler=xxx}
			<resultMap type="com.cx.mybatis.bean.Employee" id="MyEmp">
				<id column="id" property="id"/>
				<result column="empStatus" property="empStatus" typeHandler="xxx"/>
			</resultMap>
			注意：如果在参数位置修改typeHandler，应该保证保存数据和查询数据的TypeHandler是一样的
		-->
	</typeHandlers>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- 将写好的sql映射文件一定要注册到全局配置文件中 -->
		<mapper resource="EmployeeMapper.xml" />
	</mappers>
</configuration>